<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'account_list' %}">View Account List</a>
                    <a href="{% url 'category_list' %}">View Category List</a>
            </li>
                {% else %}
            <li>
                <a href ="{% url 'signup' %}">Sign up</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
                {% endif %}
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th> Vendor </th>
                        <th> Total </th>
                        <th> Tax </th>
                        <th> Date </th>
                        <th> Category </th>
                        <th> Account </th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in receipt_list %}
                    <th> {{ receipt.vendor }} </th>
                    <th> {{ receipt.total }} </th>
                    <th> {{ receipt.tax }} </th>
                    <th> {{ receipt.date|date:"m/d/y" }} </th>
                    <th> {{ receipt.category.name }} </th>
                    <th> {{ receipt.account.name }} </th>
                    {% endfor %}
                </tbody>
            </table>
    </main>
</body>
</html>
